/*
  ------------------------------------------------------------------------------
  Home amber
  ------------------------------------------------------------------------------
 */

:root {
    --amber-c-text: rgba(255, 255, 255, 0.95);
    --amber-c-text-hover: rgba(235, 245, 245, 1);
    --amber-card-bg: rgba(0, 0, 0, 0.3);
    --amber-card-bg-hover: rgba(0, 0, 0, 0.4);
    --amber-card-backdrop: blur(5px);
    --amber-card-conic: conic-gradient(transparent, rgba(255, 255, 255, 0.2), transparent 30%);
}

[data-theme="dark"] {
    --amber-card-bg: rgba(0, 0, 0, 0.4);
    --amber-card-bg-hover: rgba(0, 0, 0, 0.5);
    --amber-card-backdrop: blur(5px);
    --amber-card-conic: conic-gradient(transparent, rgba(255, 255, 255, 0.2), transparent 30%)
}

.amber-card {
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--amber-card-bg);
    /* backdrop-filter: var(--amber-card-backdrop); */
    color: var(--amber-c-text);
    transform: scale(1);
    transition: background-color var(--vp-t-color), transform var(--vp-t-color);
}

.amber-card:hover {
    background-color: var(--amber-card-bg-hover);
    transform: scale(1.01);
}